*,input, button{
    font-display: "Roboto Slab";
}

.ad{
    width: 300px;
    height: 250px;
    text-align: center;
    overflow: hidden;
    position: relative;
    color: #3a3a3a;
    background: linear-gradient(to bottom right, #fdfdfe, #d1d6df);
}

.h1-background{
    padding: 10px 20px;
    text-align: center;
}
h1{
    position: relative;
    font-size: 20px;
    font-weight: lighter;
}
.bold{
    font-weight: bold;
}
.mybar{
    font-weight: bold;
}

.slider2 {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    border-radius: 5px;
    background: #2A97EB;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 2px 10px !important;
}
.company-logo{
    width: 120px;
    padding: 10px 20px;
    text-align: center;
}
.d-flex{
    display: flex;
    align-content: space-around;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2A97EB;
    border: none;
    color: white;
    margin: auto;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    border-radius: 25px;

}
.center{
    text-align: center;
}